sourceDir = "~/Documents/Division/Open/Code/yusoofsh/dotfiles"

[git]
# autoCommit=true
# autoPush=true

encryption = "age"
[age]
recipient = "age1nk0w500lkwjcgqncxjphnypp0hrappjr9uvw9tqqqhdjdjqx5s3sck53cz"
identity = "~/.config/chezmoi/chezmoikey.txt"

[edit]
command = "code"
args = [
  "--wait",
]
