encryption = "age"

[age]
recipient = "age1nk0w500lkwjcgqncxjphnypp0hrappjr9uvw9tqqqhdjdjqx5s3sck53cz"
identity = "~/.config/chezmoi/chezmoikey.txt"

[git]
autoCommit=true
autoPush=true

[edit]
command = "code"
args = [
  "--wait",
]

[diff]
command = "code"
args = ["--wait", "--diff", "{{ .Destination }}", "{{ .Target }}"]

[merge]
command = "bash"
args = [
    "-c",
    "cp {{ .Target }} {{ .Target }}.base && code --new-window --wait --merge {{ .Destination }} {{ .Target }} {{ .Target }}.base {{ .Source }}",
]
