{
  "sourceDir": "~/Documents/Division/Open/Code/yusoofsh/dotfiles",
  "encryption": "age",
  "age": {
    "recipient": "age1nk0w500lkwjcgqncxjphnypp0hrappjr9uvw9tqqqhdjdjqx5s3sck53cz",
    "identity": "~/.config/chezmoi/.key.txt"
  },
  "git": {
    "autoCommit": true,
    "autoPush": true
  },
  "status": {
    "exclude": [
      "scripts"
    ]
  },
  "edit": {
    "command": "code",
    "args": [
      "--wait"
    ]
  }
}
