#!/bin/bash

if [ ! -f "${HOME}/.config/chezmoi/.key.txt" ]; then
    mkdir -p "${HOME}/.config/chezmoi"
    chezmoi age decrypt --output "${HOME}/.config/chezmoi/chezmoikey.txt" --passphrase "{{ .chezmoi.sourceDir }}/.chezmoikey.txt.age"
fi
